#Window1 { top:34em;left:5em; }
#Window2 { top:7em; left:36em; }
#Window3 { top:27em;left:48em; }
#Window4 { top:23em; left:22em; }

.flowchart .window { 
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;

    -moz-border-radius:0.5em;
    border-radius:0.5em;

    opacity:0.8;
    filter:alpha(opacity=80);

    text-align:center;
    z-index:20; position:absolute;
    background-color:#eeeeef;
    color:black;

    font-family:helvetica;padding:0.5em;
    font-size:0.9em;
}

.flowchart .window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;

    opacity:0.6;
    filter:alpha(opacity=60);
}

.flowchart .active {
    border:1px dotted green;
}
.flowchart .hover {
    border:1px dotted red;
}

.flowchart ._jsPlumb_connector { 
    z-index:4; 
}

.flowchart ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel { 
    z-index:21;
    cursor:pointer; 
}

.flowchart .aLabel {
    color:#444;
    background-color:white; 

    border:1px dotted gray;
    padding:0.4em; 

    font:12px sans-serif; 
    
    z-index:21;
    
    opacity:0.8;
    filter:alpha(opacity=80);
    
    cursor: pointer;
}

.flowchart .aLabel._jsPlumb_hover {
    background-color:#5C96BC;
    color:white;	
    border:1px solid white;
}